<!DOCTYPE html>
<html>
<head>
    <title>Create Student</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<h2>Add Student</h2>

<form action="/api/students/create" method="POST">
    <label>Name:</label><br>
    <input type="text" name="name" required><br><br>

    <label>Marks:</label><br>
    <input type="number" name="marks" required><br><br>

    <label>Course:</label><br>
    <input type="text" name="course" required><br><br>

    <button type="submit">Create</button>
</form>

<br>
<a href="/students/all">View All Students</a>

</body>
</html>